<div class="row">
    <div *ngFor="let category of categories" class="col-md-4">
        <div class="card mt-2" style="width: 350px; height: 350px;">
            <div class="view hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/images/{{category.imageUrl}}" style="width:400px" class="mx-auto d-block" alt="Card image with a tree in a middle of a lake.">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title"> {{category.name}}</h4>
            </div>
        </div>

    </div>
</div>