<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-primary scrolling-navbar" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" [routerLink]="['/home']">
      <strong>Saint Gobain Train MI</strong>
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" mdbRippleRadius routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/category']">Category</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/training']">Training</a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<div class="container mt-5">
  <router-outlet>
    <span class="glyphicon glyphicon-refresh glyphicon-spin spinner" *ngIf="loading">
      <i class="fa fa-refresh"></i>
    </span>
  </router-outlet>
</div>