/* You can add global styles to this file, and also import other style files */


body {
    background-color: rgb(237, 241, 245) !important;
    margin: 0px;
    font-size: 1em !important;
}

.fa-refresh {
    font-size: 150%;
    color: rgb(87, 93, 119);
}

.mt-5 {
    margin-top: 100px !important;
}

.ui-panel-titlebar {
    background-color: rgb(197, 198, 199) !important;
    color: white !important;
    font-weight: bold;
}


/* Spinner */

.spinner {
    font-size: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}