<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Training</span>
            <button type="button" class="btn btn-primary waves-light btn-sm" mdbRippleRadius style="float:right" (click)="addTraining()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </p-header>
    <p-dataTable [value]="trainings" [loading]="loading" scrollable="true" loadingIcon="fa-spinner" [responsive]="true" [reorderableColumns]="true"
        columnResizeMode="fit" [resizableColumns]="true" [rows]="15" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
        <p-column selectionMode="multiple" [style]="{width: '50px'}" styleClass="selectBoxColumn"></p-column>
        <p-column field="name" header="Name" [sortable]="true" [style]="{'text-align': 'center'}"></p-column>
        <p-column field="description" header="Description" [sortable]="true" [style]="{'text-align': 'center'}"></p-column>
        <p-column field="averageCost" header="Average Cost" [sortable]="true" [style]="{'text-align': 'center'}"></p-column>
        <p-column field="concernedPublic" header="Concerned Public" [sortable]="true" [style]="{'text-align': 'center'}"></p-column>
        <p-column field="businessUnitName" header="Business" [sortable]="true" [style]="{'text-align': 'center'}"></p-column>
        <p-column field="modalityName" header="Modality" [sortable]="true" [style]="{'text-align': 'center'}"></p-column>
    </p-dataTable>
</p-panel>